<!DOCTYPE html>

<html>
<head>
    <title>About</title>
    <link rel="icon" href = "/img/weather.png">
    <link rel="stylesheet" href = "/css/styles.css">

</head>


<body>
    
 <div class ="main-content">
{{>header}}
{{!-- <h1>{{title}} </h1> --}}
<p>This Site Was Created By Youstina Elhamy . It Uses data From mapbox.com and openweathermap.org. </p>
<img class = "portrait"src = "/img/robot.png">
{{!-- <p>Created By {{name}}</p> --}}
</div>
{{>footer}} 

</body>




</html>